<h1 class="list-group-item list-group-item-action active" data-toggle="list"  role="tab" aria-controls="home"> Python for Data Science - End Sem Exam - Total - 100 Marks</h1>

<h3 class="list-group-item list-group-item-action active" data-toggle="list"  role="tab" aria-controls="home"> SECTION B - 40 Marks</h3>

## 3

 ### Q3a. Write a Python program that takes a list of integers as input and returns a new list containing only the prime numbers from the original list. If no prime numbers are found, return an empty list.(8 Marks)

   ### Q3b. Write a Python program to manage a basic inventory system for a small store. Your program should:

- Allow the user to add a new item with its name, quantity, and price.
- Implement a function to update the quantity of an existing item.
- Implement a function to retrieve the total value of all items in the inventory (sum of quantity * price).
- Implement a function to display all items in the inventory.

(8 Marks)

 ### Q3c. Create a Python function that takes a dictionary of employee names with their corresponding (years of experience, current salaries, and performance ratings) (scale of 1-5). The function should adjust the salaries based on the following rules (8 marks):

- If an employee has more than 10 years of experience and their salary is below 70,000 dollars, increase their salary by 15% plus an additional amount equal to 2% of their current salary multiplied by their performance rating.

- If they have between 5 and 10 years of experience and their salary is below 50,000, increase their salary by 10% plus an additional amount equal to 1.5% of their current salary multiplied by their performance rating.
- If they have less than 5 years of experience and their salary is below 40,000, increase their salary by 5% plus an additional amount equal to 1% of their current salary multiplied by their performance rating.

- Employees not fitting these criteria receive no adjustment.
- The function should return a new dictionary with the adjusted salaries.

Example:

Input:

employee_data = {
    "Alice": (12, 60000, 4),
    "Bob": (7, 48000, 5),
    "Charlie": (4, 39000, 3),
    "Diana": (11, 75000, 2),
    "Eve": (3, 35000, 4)}


Output:

Adjusted salaries: {'Alice': 73800.0, 'Bob': 56400.0, 'Charlie': 42120.0, 'Diana': 75000, 'Eve': 38150.0}

 ### Q3d. Write a Python program that takes a list of sentences and returns a dictionary where the keys are the unique words (case insensitive) that are at least 4 characters long, and the values are the counts of those words. Ignore punctuation and consider only alphabetic characters. (8 marks)


Example:

Input:

sentences = [
    "The quick brown fox jumps over the lazy dog.",
    "Is this the real life? It is just fantastic!",
    "And in the end, the love you take is equal to the hate you make.",
    "To be or not to be, that is the question."
]

Output:

Word frequency (length >= 4): {'quick': 1, 'brown': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'this': 1, 'real': 1, 'life': 1, 'just': 1, 'fantastic': 1, 'love': 1, 'take': 1, 'equal': 1, 'hate': 1, 'make': 1, 'that': 1, 'question': 1}

 ### Q3e. Write a function longest_consecutive_sequence(nums) that takes a list of integers and returns the length of the longest consecutive elements sequence. The sequence should be considered as consecutive if they follow each other in integer value. (8 marks)

 Example:

Input: [100, 4, 200, 1, 3, 2]

Output: 4

Explanation: The longest consecutive elements sequence is [1, 2, 3, 4], which has a length of 4.

<h2 class="list-group-item list-group-item-action active" data-toggle="list"  role="tab" aria-controls="home">SECTION C - 40 Marks</h2>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

## 4. Load the dataset and perform the below operation

### 4 a)

(i) Load the dataset and find the number of cars with a price greater than $25,000. Calculate the average mileage for these cars. Write your inference. (4 Marks)

(ii) Create two separate DataFrames for cars with fuel type "Petrol" and cars with fuel type "Diesel." Display the average price for each fuel type. (5 Marks)

(iii) Find the average price and maximum mileage for each car make. (3 Marks)

(iv) Create a new column that categorizes cars based on their mileage as 'Low', 'Moderate', or 'High'. (4 Marks)
- Mileage >0 and < 30000 --> Low
- Mileage >30000 and <100000 --> Moderate
- Mileage > 100000 --> High

(v) Identify the most expensive car for each make. (4 Marks)

In [3]:
## Load the dataset

#df_cars=pd.read_csv('car_info.csv')
#df_cars.head()

i)  Find the number of cars with a price greater than $25,000. Calculate the average mileage for these cars. Write your inference. (4 Marks)

(ii) Create two separate DataFrames for cars with fuel type "Petrol" and cars with fuel type "Diesel." Display the average price for each fuel type. (5 Marks)

(iii) Find the average price and maximum mileage for each car make. (3 Marks)

(iv) Create a new column that categorizes cars based on their mileage as 'Low', 'Moderate', or 'High'. (4 Marks)

- Mileage >0 and < 30000 --> Low
- Mileage >30000 and <100000 --> Moderate
- Mileage > 100000 --> High

(v) Identify the most expensive car for each make. (4 Marks)

###4 b)

(i) Based on the relationship between Price and Age of the car for different fuel types comment on the pricing trends across different mileage ranges. (4 marks)

(ii) How can we calculate the average price for each car make while filtering out listings with missing values in the Price or Mileage columns. (4 Marks)

(iii) Show the distribution of Fuel_Type across Make, revealing the most popular fuel types for different car brands. (4 Marks)

(iv) How do car prices vary with age, and are there differences in price trends between manual and automatic transmission cars? Comment on both of these scenarios with relevant plots.(4 marks)

(v) Which car make are the most listed in the dataset? Support your answer using relevant plots (4 marks)

### (i) Based on the relationship between Price and Age of the car for different fuel types comment on the pricing trends across different mileage ranges. (4 Marks)

###(ii) How can we calculate the average price for each car make while filtering out listings with missing values in the Price or Mileage columns? (4 Marks)

### (iii) Show the distribution of Fuel_Type across Make, revealing the most popular fuel types for different car brands. (4 Marks)

### (iv) How do car prices vary with age, and are there differences in price trends between manual and automatic transmission cars? Comment on both of these scenarios with relevant plots. (4 Marks)

###(v). Which car makes are the most listed in the dataset? Support your answer using relevant plots (4 Marks)