<h1 class="list-group-item list-group-item-action active" data-toggle="list"  role="tab" aria-controls="home"> Python for Data Science - End Sem Exam - Total - 100 Marks</h1>

<h3 class="list-group-item list-group-item-action active" data-toggle="list"  role="tab" aria-controls="home"> SECTION B - 40 Marks</h3>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from datetime import datetime
import string
import warnings
warnings.filterwarnings('ignore')

 ### Q3a. Write a Python program that takes a list of integers as input and returns a new list containing only the prime numbers that are also palindromes (e.g., 131, 7, 11). If no such numbers are found, return an empty list. (8 Marks)

### Q3b. Write a Python program to manage a basic student marks system. Your program should:(8 Marks)

1.Allow the user to add a new student with their name and marks.

2.Implement a function to update the marks of an existing student.

3.Implement a function to calculate the average marks of all students.

4.Implement a function to display all student names with their marks.

 ### Q3c. Create a Python function that takes a dictionary of employee names with their corresponding (years of experience, base bonus, and performance rating on a scale of 1–5). The function should calculate and return a new dictionary with adjusted bonuses based on the following rules:(8 Marks)

If an employee has more than 10 years of experience, increase their bonus by 20% plus 3% of the base bonus multiplied by their performance rating.

If they have between 5 and 10 years of experience, increase their bonus by 15% plus 2% of the base bonus multiplied by their performance rating.

If they have less than 5 years of experience, increase their bonus by 10% plus 1% of the base bonus multiplied by their performance rating.

The function should return a new dictionary with employee names and their updated bonus amounts.

Example:

Input:

employees = {
    "Raju": (12, 3000, 4),
    "Somu": (8, 2500, 3),
    "Ravi": (3, 2000, 5),
    "David": (15, 4000, 2)
}

Output:

Adjusted salaries:
Raju: $3960.0,
Somu: $3025.0,
Ravi: $2300.0,
David: $5040.0

 ### Q3d. Write a Python program that takes a list of sentences and returns a dictionary where the keys are the unique words (case insensitive) that are at least 4 characters long, and the values are the counts of those words. Ignore punctuation and consider only alphabetic characters. (8 marks)


Example:

Input:

sentences = [
    "The quick brown fox jumps over the lazy dog.",
    "Is this the real life? It is just fantastic!",
    "And in the end, the love you take is equal to the hate you make.",
    "To be or not to be, that is the question."
]

Output:

Word frequency (length >= 4): {'quick': 1, 'brown': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'this': 1, 'real': 1, 'life': 1, 'just': 1, 'fantastic': 1, 'love': 1, 'take': 1, 'equal': 1, 'hate': 1, 'make': 1, 'that': 1, 'question': 1}

 ### Q3e. Given two lists containing the names of students and their respective dates of birth (in the format "YYYY-MM-DD"), write a Python program to answer the following:

a) Print the name of the student who is the youngest. (4 marks)

b) Print the names of students who were born in the month of December. (4 marks)

note:
names = ["Alice", "Bob", "Charlie", "Diana", "Eve"]
birthdays = ["2005-06-15", "2003-12-22", "2004-05-10", "2006-12-05", "2003-01-11"]

<h2 class="list-group-item list-group-item-action active" data-toggle="list"  role="tab" aria-controls="home">SECTION C - 40 Marks</h2>

## 4. Load the dataset and perform the below operation

### 4 a)

(i) Load the dataset and find the number of cars with a price greater than $25,000. Calculate the average mileage for these cars. Write your inference. (4 Marks)

(ii) You are analyzing car pricing based on fuel type. Separate the data into Petrol and Diesel cars. Compute the average price for each group and print the results. (5 Marks)

(iii) As a data analyst for a car dealership, summarize the inventory by make: calculate the average price and the maximum mileage for each brand. (3 Marks)

(iv) Add a new column named Mileage Category to classify cars into 'Low', 'Moderate', and 'High' based on their mileage ranges:

0 < Mileage < 30,000 → Low

30,000 < Mileage < 100,000 → Moderate

Mileage > 100,000 → High (4 Marks)

(v) As a pricing analyst, identify the highest-priced car available for every make in your dealership’s inventory. (4 Marks)

## 4 b)

(i) Create a boxplot to show the distribution of car prices for each brand (Make), grouped by fuel type (Fuel_Type). Add an appropriate title. (4 marks)

(ii) How can we calculate the average price for each car make while filtering out listings with missing values in the Price or Mileage columns. (4 Marks)

(iii) Visualize how fuel types are distributed across different car brands. Identify which fuel type is most common for each brand. (4 Marks)

(iv) How do car prices vary with age, and are there differences in price trends between manual and automatic transmission cars? Comment on both of these scenarios with relevant plots.(4 marks)

(v) Which car make are the most listed in the dataset? Support your answer using relevant plots (4 marks)