<h1 class="list-group-item list-group-item-action active" data-toggle="list"  role="tab" aria-controls="home"> Python for Data Science - End Sem Exam - Total - 100 Marks</h1>

<h3 class="list-group-item list-group-item-action active" data-toggle="list"  role="tab" aria-controls="home">SECTION B - 40 Marks</h3>

### 3a.)You are working with NASA and suddenly you got an opportunity to travel to the moon. You have to stay there for 15 years.
 You have to calculate your weight in kilograms on the moon in a period of 15 years
 Step1: Measure your Weight on the Moon and also create a variable to store it. Assume your starting weight:30
 For each year, you can calculate the new weight by adding a kilogram, and then multiplying by 6.5 percent (0.65) to get the weight on the moon  (5 Marks)

### 3b.)
  A . Create a list called dairy with four elements from the dairy section of Reliance fresh for example Milk , Paneer , Curd and Butter?(1 MARK)
 
 B . Print a string with the first and last elements of the dairy list.(1 MARK)
 
 C . Create a tuple for expiration date with three elements: the month, day, and year of the expiration on the carton of milk?(1 MARK)
 
 D .Print the values in the expiration tuple in a string that reads “This milk bottle will expire on 12/10/2020”.(2 MARK)
 
 E. Create an empty dictionary called milk_packets. Add the following key/value pairs. You can make up the values or use a real milk packet:(2 MARK)
 
 expiration_date — Set it to the milk_expiration tuple.
 Size — Set it to the size of the milk carton on which you are basing this.
 Cost — Set this to the cost of the carton of milk.
 brand_name — Set this to Nandini
 
 
 F. Show how to calculate the cost of 10 Packets of Nandini milk based on the cost of a packet?(1 MARK)
 
 G. Create a list called cheeses. List all of the cheeses you can think of. Append this list to the dairy Then remove the list of cheeses from the array.(2 MARK)

### 3c.). Write a python program to convert a 12-hour format to a 24-hour format. The program should take the current time from the user in a 12-hour format and convert it into 24-hour format.: (5 Marks)
Input: "08:05:45 PM" Output: 20:05:45

 ### 3d.) Program that removes all duplicates from a given list while preserving the original order of elements. 
    List = [12,6,4,7,4,7,67,88,99,355,7887,6,467,88,4,77,8]? (5 Marks)

 ### 3e.) Given two list for names of the users and their birthdays respectively.
Write a program to answer following:

a) Print out the name of the youngest user

b) Print out the names of the users born in Leap year.

Names = ['Alice', 'Bob', 'Caroline','Derek','Edwin']

Birthdays = ['4/7/1990', '11/12/1995', '8/17/2000','9/4/2004','2/29/2000'](5 Marks)

#### 3f.) A superstore has multiple items to sell. These items are categorised as  category A and category B. For festival time the superstore decided to declare some discount, as given below. 
For category A items, it charges Rs.15 per item if you buy less than 30 quantity of an item. If you buy between 30 and 99 quantity of an item, the cost is Rs.12 per item. If buying quantity is 100 or more for an item, the cost is Rs.10 per item. 

For category B items, it charges Rs.30 per item if you buy less than 50 quantity of an item. If you buy between 50 and 99 quantity of an item, the cost is Rs.25 per item. If buying quantity is 100 or more for an item, the cost is Rs.20 per item. Further it also gives discount of 5% if total bill exceeds 1000 and 10% if bill exceeds 1500.

Write a program which repeatedly ask user to enter no of items and its category. If user enters 'STOP' it shows user has done with the purchase, now calculate total payable amount and display it to user(10 Marks)


***
 Sample Input/Output:
Enter no of items and its category: 23,A

Enter no of items and its category: 56, b

Enter no of items and its category: 67,b

Enter no of items and its category: 110,a

Enter no of items and its category: STOP

Total amount payable is :  2808.0

***

<h3 class="list-group-item list-group-item-action active" data-toggle="list"  role="tab" aria-controls="home">SECTION C - 40 Marks</h3>

### 4a.) Read the covid dataset and answer the following:
1. Find the number of recovered and Hospitalized cases in Maharashtra'? (4 Marks)
2. Find the number of Female and Male Hospitalized from Maharashtra'? (4 Marks)
3. How many people Travelled from Wuhan in Maharashtra. (4 Marks)
4. Find the percentage of male and female got COVID-19 using pie chart (5 Marks)
5. Find the state with the highest number of female patients and the state with the highest number of male patients. (5 marks)
6. Display the count plot to show the number of people got affected based on states. (5 Marks)
7. Find the number of cases in each state, categorized by age group (Child, Adult, Senior) (8 marks)
8.Calculate the percentage of patients who recovered in Telangana compared to the total number of cases in Telangana. (5 marks)

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
df=pd.read_csv("covid.csv")
df.head()

### 1. Find the number of recovered and Hospitalized cases in Maharashtra'? (4 Marks)

###  2. Find the number of Female and Male Hospitalized  from Maharashtra'? (4 Marks)

### 3. How many people Travelled from Wuhan in Maharastra. (4 Marks)

### 4. Find the percentage of male and female got COVID-19 using pie chart (5 Marks)

### 5 .Find the state with the highest number of female patients and the state with the highest number of male patients.(5 marks)

### 6. Display the count plot to show the number of people got affected based on states. (5 Marks)

### 7. Find the number of cases in each state, categorized by age group (Child, Adult, Senior).(8 marks)

### 8.Calculate the percentage of patients who recovered in Telangana compared to the total number of cases in Telangana.(5 marks)